doctype html
html
  head
    title= title
  body
    h1 Custom Object Table
    a(href="/update-cobj") Add/Update this table
    table
      thead
        tr
          th Name
          th Brand
          th Color
      tbody
        each item in data
          tr
            td= item.properties.name
            td= item.properties.brand
            td= item.properties.color
