doctype html
html
  head
    title Update Custom Object
  body
    h1 Update Custom Object
    form(action="/update-cobj", method="post")
      div
        label(for="name") Name:
        input(type="text", id="name", name="name")
      div
        label(for="brand") Brand:
        input(type="text", id="brand", name="brand")
      div
        label(for="color") Color:
        input(type="text", id="color", name="color")
      div
        button(type="submit") Submit
